/* The Popup (background) */
.popup {
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 80px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    display: none; /* Hidden by default */
    border: none;
  }

  .popup-header {
    display: flex;
    justify-content: space-evenly;
    padding: 2.5em;
    margin-bottom: 30px;
    cursor: move;
    z-index: 999999;
    background-color: #474747;
    color: white;

  }
  
  /* Popup Content */
  .popup-content {
    
    position: relative;
    background-color: #474747;
    margin: auto;
    padding: 0;
    margin-top: 2px;
    width: 80%;
    height: 85%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Close Button */
  .close {
    
    color: rgb(255, 0, 0);
    float: right;
    font-size: 50px;
    font-weight: bold;
  position: relative;
  padding-right: 1rem;

  
  }
  
  .close:hover,
  .close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .iframe_p {
    margin-top: -40px;
  }

  